/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"); */

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --lm-header-shadow: 6px 6px 12px #74519232, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}

/* .headerArea {
  /* height: 85px; */
  /* overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: -16px;
  z-index: 1; */
  /* background-color: var(--mauve); */
  /* box-shadow: var(--lm-header-shadow); */
/* } */

/* .headerArea::after {
  box-shadow: var(--lm-header-shadow);
} */

/* .logo {
  padding: 6px 0;
  margin-left: 20px;
  overflow: hidden;
  float: left;
} */

/* .headerArea nav {
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
  padding: 4px 0;
} */

/* .headerArea nav ul li { */
  /* float: right; */
  /* list-style-type: none;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 1.3rem;
  font-weight: 800; */
  /* display: inline-block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-family: var(--title-font);
  font-size: 1.3rem;
  font-weight: 900;
} */
/* header nav ul li a {
  color: var(--fourth-color);
} */


/* My styling code ---------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body, html {
    margin: 0;
  }

  header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--mauve); 
    box-shadow: var(--lm-header-shadow);
  }

  .headerContent, nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .logo {
    width: 12rem;
    padding: 6px 0;
    margin-left: 20px;
    overflow: hidden;
  }

  .headerContent nav{
    width: 32rem;
    margin-right: 20px;
  }

  .headerContent nav ul {
    list-style-type: none;
  }

  .headerContent ul li a {
    color: var(--fourth-color);
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3rem;
  }

  .headerContent ul li a:hover {
    color: var(--deep-champagne);
  }

  .searchField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }

  .searchField input {
    border-radius: 10px;
    border: 2px solid var(--deep-champagne);
    outline: none;
    line-height: 2; 
    padding: 0 7%;
    font-size: 1.2rem;
    text-align: center;
    width: 52%;
  }
  
  .searchDivider {
    margin: 1.5% 0;
    width: 41%;
    height: 2px;
    background-color: var(--deep-champagne);
   
  }

  .searchField button {
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    width: 16%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  /* main div:first-child div:nth-child(2) button {
    cursor: pointer;  
  } */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

  .logo{
    width: 20%;
  }

  .headerContent ul li a {
    font-size: 2.2vw;
  }
  
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {
  .headerContent nav{
    margin-right: 50px;
  }

  .headerContent nav {
    width: 40rem;
  }  

  .logo{
    margin-left: 50px;
  }

  main div:first-child div:nth-child(2) input {
    font-size: 1.5rem;
    line-height: 3.2;
  }

  .searchField button {
    font-size: 1.3rem;
  }


}
