@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}



/* below is my css code-------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {



}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pageTitle{
    margin-top: 13%;
    margin-left: 5%;
    font-size: 3.8vw;
    text-align: center;
    color: var(--russian-violet);
  } 

  .darkPageTitle{
    margin-top: 13%;
    margin-left: 5%;
    font-size: 3.8vw;
    text-align: center;
    color: var(--platinum);
  } 

  .randomList:nth-child(2) button:nth-child(2){
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    margin: 0 44%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 11%;
  }
  
  .darkRandomList:nth-child(2) button:nth-child(2){
    color: var(--rich-black-fogar-39);
    background-color: var(--mauve);
    border: none;
    margin: 0 44%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 11%;
  }

  .randomList section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 5rem;
    justify-content: space-around;
  }

  .darkRandomList section {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 5rem;
    justify-content: space-around;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {

  .randomList:nth-child(2) button:nth-child(2){
    font-size: 1.3rem;
  }

  .darkRandomList:nth-child(2) button:nth-child(2){
    font-size: 1.3rem;
  }

  .jobBlurb {
    width: 580px;
  }


}