@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}


/* below is my css code-------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .jobList {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 4%;
    justify-content: space-around;
  }

  .jobBlurb{
    width: 35%;
    margin-bottom: 2%;
    background-color: var(--deep-champagne);
    padding: 2% 2%;
    border-radius: 20px;
    box-shadow: var(--platinum);
  }

  .darkJobBlurb{
    width: 35%;
    margin-bottom: 2%;
    background-color: var(--platinum);
    padding: 2% 2%;
    border-radius: 20px;
    /* box-shadow: var(--lm-header-shadow); */
  }

  .button {
    margin-bottom: 100px;
    text-align: center;
  }

  .darkButton {
    margin-bottom: 100px;
    text-align: center;
  }

  .button button, .jobBlurb button {
    font-family: var(--body-font);
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .darkButton button {
    color: var(--rich-black-fogar-39);
    background-color: var(--platinum);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .darkJobBlurb button {
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
  }

  .jobBlurb button{
    width: 30%;
  }

  .darkJobBlurb button{
    width: 30%;

  }

  .button button {
    width: 15%;
  }

  .darkButton button {
    width: 15%;
  }
  
  .jobItems {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  .jobRequirement {
    margin-left: 15%;
    width: 100px;
  }

  .jobHours {
    margin-right: 25%;
  }

  .jobTitle {
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--title-font);
  }  



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {
  .jobBlurb {
    width: 41%;
  }

  .darkJobBlurb {
    width: 41%;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {

  .jobBlurb {
    width: 40%;
  }

  .darkJobBlurb {
    width: 40%;
  }

  .jobJobBlurb button{
   font-size: 1.1rem;

  }


}