@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}

