@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
/* /about pg css  */

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 12%;
  }
  
  /* .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
   .about {
      background: rgb(255,208,133);
      background: radial-gradient(circle, rgba(255,208,133,1) 9%, rgba(200,171,246,1) 100%);
    } 
  
    
  
    .aboutDescription {
      font-family: var(--body-font);
      margin-left: 2%;
      margin-right: 2%;
      font-size: 4vw;
    }
  
  .aboutBloom {
    overflow-wrap: break-word;
    text-align: center;
    margin: auto;
      /* background-color: var(--royal-purple);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
    background: rgb(255,208,133)   */
  } 
  
  .aboutHeading {
    font-size: 6.6vw;
    margin-top: 8rem;
  }
  
   /* .aboutDescription {
    text-align: center;
    margin: auto
    overflow-wrap: break-word;
    font-weight: 1.5 rem;
  
  }    */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 12%;
  }
  
  /* .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
   .about {
      background: rgb(255,208,133);
      background: radial-gradient(circle, rgba(255,208,133,1) 9%, rgba(200,171,246,1) 100%);
    } 
  
    
  
    .aboutDescription {
      font-family: var(--body-font);
      /* margin-top: 8%; */
      font-size: 1.5rem;
    }
  
  .aboutBloom {
    overflow-wrap: break-word;
    text-align: center;
    margin: auto;
      /* background-color: var(--royal-purple);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 8%;
    text-align: center;
    background: rgb(255,208,133)   */
  } 
  
  /* Will need pixel for the font size instead of percent */
  .aboutHeading {
    font-size: 3rem;
    margin-top: 8rem;
  }
  
   /* .aboutDescription {
    text-align: center;
    margin: auto
    overflow-wrap: break-word;
    font-weight: 1.5 rem;
  
  }    */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .aboutHeading {
    font-size: 3.5rem;
    margin-top: 8rem;
  }
}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {
  .aboutHeading {
    font-size: 4rem;
    margin-top: 8rem;
  }

  .container {
    flex-direction: row;
    margin: 0 4%;
  }


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .aboutHeading {
    font-size: 5rem;
    margin-top: 8%;
    margin-bottom: 2.5%;
  }
}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {}