@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}

/* My styling code ---------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .jobDetail {
    margin: 13% 5% 6rem 5%;
    background-color: var(--deep-champagne);
    padding: 4%;
    border-radius: 10px;
    color: var(--rich-black-fogar-39)
  }

  .jobDetail img, .darkJobDetail img {
    width: 100%;    
  }

  
  .darkJobDetail {
    margin: 13% 5% 6rem 5%;
    background-color: var(--platinum);
    padding: 4%;
    border-radius: 10px;
    color: var(--rich-black-fogar-39)
  }

  .jobDescriptParent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
  }

  .jobDescripTitle {
    font-family: var(--title-font);
    font-size: 3.8vw;
    width: 60%;
    margin-right: 3%;
    text-align: center;
    color: var(--russian-violet);
  }

  .logoFrameDescrip {
    width: 24%;
  }

  .logoFrameDescrip img {
    width: 50%;
  }

  .companyName {
    font-size: 7.2vw;
    font-family: var(--title-font);
    text-align: center;
  }

  .jobDecripItems {
    color: var(--rich-black-fogar-39);
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
    font-size: 2.7vw;
  }

  .jobDecripItems p {
    margin: 0;
    width: 33%;
    text-align: center;
  }

  .jobDescripContent {
    font-size: 2.7vw;
    color: var(--rich-black-fogar-39);
    font-family: var(--body-font);
    margin-top: 4%;
  }

  .applyContainer {
    text-align: center; 
    margin-top: 4%;
  }

  .applyButton button {
    font-size: 2.4vw;
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 11%;
    cursor: pointer;
  }


  .darkApplyButton button {
    font-size: 2.4vw;
    color: var(--platinum);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 11%;
    cursor: pointer;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .jobDetail {
    margin: 13% 5% 6rem 5%;
    background-color: var(--deep-champagne);
    padding: 4%;
    border-radius: 10px;
    color: var(--rich-black-fogar-39)
  }

  .jobDetail img, .darkJobDetail img {
    width: 100%;    
  }

  
  .darkJobDetail {
    margin: 13% 5% 6rem 5%;
    background-color: var(--platinum);
    padding: 4%;
    border-radius: 10px;
    color: var(--rich-black-fogar-39)
  }

  .jobDescriptParent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .jobDescripTitle {
    font-family: var(--title-font);
    width: 60%;
    margin-right: 3%;
    text-align: center;
    color: var(--russian-violet);
  }

  .logoFrameDescrip {
    width: 24%;
  }

  .logoFrameDescrip img {
    width: 50%;
  }

  .companyName {
    font-family: var(--title-font);
    text-align: center;
  }

  .jobDecripItems {
    color: var(--rich-black-fogar-39);
    font-family: var(--body-font);
    display: flex;
    justify-content: center;
  }

  .jobDecripItems p {
    margin: 0;
    width: 33%;
    text-align: center;
  }

  .jobDescripContent {
    color: var(--rich-black-fogar-39);
    font-family: var(--body-font);
    margin-top: 4%;
  }

  .applyContainer {
    text-align: center; 
    margin-top: 4%;
  }

  .applyButton button {
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 11%;
    cursor: pointer;
  }


  .darkApplyButton button {
    color: var(--platinum);
    background-color: var(--russian-violet);
    border: none;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 11%;
    cursor: pointer;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {
  
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  

  .jobDescripTitle {
    font-size: 3vw;
  }

  .companyName {
    font-size: 2.2vw;
  }

 

}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {
  .applyButton button {
    font-size: 1.1rem;
  }
}

