/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"); */

:root {
  --isabelline: #f9f6f2;
  --deep-champagne: #ffd085;
  --mauve: #d9bbf2;
  --african-violet: #aa88c6;
  --royal-purple: #7a559a;
  --russian-violet: #240046;
  --platinum: #e5e5e5;
  --rich-black-fogar-39: #121212;
  --title-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
  --lm-shadow: 6px 6px 12px #745192, -6px -6px 12px #8059a2;
  --dm-shadow: 6px 6px 12px #ceb2e6, -6px -6px 12px #e4c4fe;
  --search-shadow: inset 6px 6px 9px #6e6c68ab, inset -6px -6px 60px #fff;
  --text-shadow: 2px 2px 3px rgba(rgba(0, 0, 0, 0.4)), -1px -1px 3px #fff;
}



/* My styling code ---------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  

  
  .landingHeaderArea {
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  body {
    background-color: var(--mauve);
  }
  
  .lightsOut-toggle {
    margin-right: 20px;
  }

  
  .bannerParent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 3%;
    margin-top: 15%;
  }


  .landingBanner {
    width: 100%;
  
  }

  .landingQuote {
    font-family: var(--title-font);
    font-size: 6.5vw;
    margin: 0 1%;
    margin-top: 6%;
    text-align: center;
    color: var(--russian-violet);
  }

  .darkLandingQuote {
    font-family: var(--title-font);
    font-size: 6.5vw;
    margin: 0 1%;
    margin-top: 6%;
    text-align: center;
    color: var(--platinum);
  }
  

  .buttonParent {
    text-align: center;
    margin-top: 5%;

  }

  .enterBttn {
    font-family: var(--title-font);
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    width: 59%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 4.3vw;
  }

  .darkEnterBttn {
    color: var(--russian-violet);
    background-color: var(--deep-champagne);
    border: none;
    width: 59%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 4.3vw;
  }
  

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  

  
  .landingHeaderArea {
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  body {
    background-color: var(--mauve);
  }
  
  .lightsOut-toggle {
    margin-right: 20px;
  }

  
  .bannerParent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 3%;
    margin-top: 15%;
  }


  .landingBanner {
    width: 100%;
  
  }

  .landingQuote {
    font-family: var(--title-font);
    font-size: 2.4rem;
    margin: 0 1%;
    margin-top: 6%;
    text-align: center;
    color: var(--russian-violet);
  }

  .darkLandingQuote {
    font-size: 2.4rem;
    margin: 0 1%;
    margin-top: 6%;
    text-align: center;
    color: var(--platinum);
  }
  

  .buttonParent {
    text-align: center;
    margin-top: 5%;

  }

  .enterBttn {
    font-family: var(--title-font);
    color: var(--deep-champagne);
    background-color: var(--russian-violet);
    border: none;
    width: 59%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6rem;
  }

  .darkEnterBttn {
    color: var(--russian-violet);
    background-color: var(--deep-champagne);
    border: none;
    width: 59%;
    outline: none;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.6rem;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .bannerParent {
    margin-top: 2%;
  }
}

/* Large devices (laptops/desktops, 882px and up) */
@media only screen and (min-width: 882px) {

  .bannerParent {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 3%;
    /* margin-top: 15%; */
  }

  .landingBanner {
    height: 783px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}


/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1400px) {

}



